{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>{% block title %} TweetBar {% endblock %}</title>
  </head>
  <style>
    .navbar-brand, .register{
      background: #039BE5;
    }
    .login{
      background-color: #4CAF50;
    }
    .logout{
      background: #F44336;
    }
  </style>

  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a
          class="navbar-brand btn mx-2"
          href="{% url 'tweet_list' %}"
          >Tweet Home</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

          {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn logout text-white" type="submit">Logout</button>
          </form>
          {% else %}
          <a class=" register text-white btn mx-2" href="{% url 'register' %}"
            >Register</a
          >
          <a class="login text-white btn mx-2" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
