{% extends "layout.html" %} 
{% block title %} Let's tweet {% endblock %} 
{% block content %}

<style>
  .form-control, textarea {
    background-color: #212529 !important;
    color: white;
    width:100%;
    
  }
  .p, label{
    margin-bottom:1rem;
  }
  .submit{
    background-color:#039BE5 ;
  }
  .tweetlist{
    color:#039BE5
  }

</style>

{% comment %} <h1 class="text-white text-center text-3xl font-bold mt-10">Welcome to Chai's Django project</h1> {% endcomment %}

<div class="bg-dark text-white mt-8 p-4">
  <h5 class="mt-4 text-lg mb-4 text-center fs-2">
    {% if form.instance.pk %} 
      Edit Tweet 
    {% else %} 
      Create Tweet 
    {% endif %}
  </h5>

  <form method="post" enctype="multipart/form-data" class="form w-full">
    {% csrf_token %}
    <div>
      {{ form.as_p }}
    </div>

    <button class="submit btn w-full bg-yellow-500 text-white py-2 px-4 mb-4 mt-4" type="submit">
      Submit
    </button>
  </form>

  <a class="tweetlist mt-8 text-center " href="{% url 'tweet_list' %}">
    Back to tweet list
  </a>
</div>

{% endblock %}
