{% extends "layout.html" %} 
{% block title %} TweetBar {% endblock %} 

{% block content %}
<h1 class="mt-4 text-white text-center">Welcome to TweetBar</h1>
<style>
  .createtweet{
    background-color: #039BE5;
  }
  .delete{
    background-color: #F44336;
  }
</style>

<a class=" createtweet text-white btn m-3" href="{% url 'tweet_create' %}">Create a tweet</a>
<div class="container row gap-3 mt-4 ">
  {% for tweet in tweets %}
  <div class="card bg-dark" style="width: 18rem">
    {% if tweet.photo %}
      <img src="{{ tweet.photo.url }}"  />
    {% else %}
      <img src="path/to/default-image.jpg" />
    {% endif %}
    <div class="card-body bg-dark text-white">
      <h5 class="card-title">{{ tweet.user.username }}</h5>
      <p class="card-text">
        {{ tweet.text }}
      </p>
      {% if tweet.user == user %}
      <a href="{% url 'tweet_edit' tweet.id %}" class="btn text-white createtweet">Edit</a>
      <a href="{% url 'tweet_delete' tweet.id %}" class="btn text-white delete">Delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
